.door-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 100;
}

.door-map-btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    border-radius: 50% !important;
    transform: none !important;
}

.door-map-btn:active {
    transform: none !important;
}

.door-button-wrapper {
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
